<%= form_with(model: @prototype, local: true, authenticity_token: true ) do |f| %>
  <div class="field">
    <%= f.label :title, "プロトタイプの名称" %><br />
    <%= f.text_field :title, id:"prototype_title", name: "prototype[title]" %>
  </div>

  <div class="field">
    <%= f.label :catch_copy, "キャッチコピー" %><br />
    <%= f.text_area :catch_copy, class: :form__text, id:"prototype_catch_copy", name: "prototype[catch_copy]" %>
  </div>

  <div class="field">
    <%= f.label :concept, "コンセプト" %><br />
    <%= f.text_area :concept, class: :form__text, id:"prototype_concept", name: "prototype[concept]" %>
  </div>

  <div class="field">
    <%= f.label :image, "プロトタイプの画像" %><br />
    <%= f.file_field :image, id:"prototype_image", name: "prototype[image]" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
    <% if @prototype.persisted? %>
      <%= link_to 'プロトタイプ詳細ページへ', prototype_path(@prototype), class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>