<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <!-- ログインしている場合の表示 -->
      <div class="greeting">
       <%= link_to "こんにちは#{current_user.name}さん", user_path(current_user), class: :greeting__link %>
      </div>
    <% end %>
    
    <div class="card__wrapper">
      <% @prototypes.each do |prototype| %>
         <div class="card">
           <%= link_to prototype_path(prototype) do %>
              <%= image_tag prototype.image %>
            <% end %>
             <h3><%= link_to prototype.title, prototype_path(prototype) %></h3>
            <p><%= prototype.catch_copy %></p>
            <p><%= link_to prototype.user.name, user_path(prototype.user) %></p>
        </div>
      <% end %>
    </div>
  </div>
</main>