<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <!-- ログインしている場合の表示 -->
      <div class="greeting">
       <%= link_to "こんにちは#{current_user.name}さん", user_path(current_user), class: :greeting__link %>
      </div>
    <% end %>
    
    <div class="card__wrapper">
      <% @prototypes.each do |prototype| %>
         <div class="card">
            <%= image_tag prototype.image %>
            <h3><%= prototype.title %></h3>
            <p><%= prototype.catch_copy %></p>
            <%= link_to prototype.user.name, user_path(prototype.user) %>
        </div>
      <% end %>
    </div>
  </div>
</main>